<% include ./partials/header%>
<div class="ui fixed inverted menu">
		<div class='ui container'>
			<div class="header item"><i class="stethoscope icon"></i>Home Care</div>
			<a href="/" class="item">Home</a>																									
			<a href="/login" class="item right item"><i class="user md icon"></i>Doctor Login</a>
			<a href="/signup" class="item">Doctor SignUp</a>
		</div>
	</div>


<div class="container">
		<div class="jumbotron">
			<h1>Diabetes???</h1>
			<h3>Submit your details here,We'll help you<h3>
			<a  href='/patients/new' class="btn-lg btn-primary">Enter Here</a>
		</div>
		
</div>


<% include ./partials/footer%>